---
layout: layouts/base.njk
title: Neuropsychologische Praxis Dr. Denise Long
---

<h1>Neuropsychologische Praxis Dr. Denise Long</h1>
<p>
  Willkommen in der Neuropsychologischen Praxis von Dr. Denise Long.
</p>
<p>
  This site gets content from <a href="https://help.medium.com/hc/en-us/articles/214874118-RSS-feeds">Medium's RSS Feeds</a> and serves the articles in a pre-rendered site which you can control and host for yourself. You can configure and <a href="/get-yours">deploy your own</a> for free on Netlify with a couple of clicks.
</p>

<hr/>

<h2>Articles <small>(sourced from {{ medium.url }})</small></h2>
<ul class="listing">
{% for item in medium.posts %}
  <li>
    <p class="meta">Published on {{ item.pubDate | date }} by {{ item['dc:creator'] }}</p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
