---
layout: layouts/base.njk
title: Neuropsychologische Praxis Dr. Denise Long
---

<h1>Neuropsychologische Praxis Dr. Denise Long</h1>
<p>
  Willkommen in der neuropsychologischen Praxis von Dr. Denise Long.
</p>
<p>
  Ich führe neuropsychologische Abklärungen, neuropsychologisches Einzeltraining und -therapie durch. Ferner unterstütze ich Patienten durch mein Netzwerk an Spazialisten aus den Bereichen Physiotherapie, Psychotherapie, Neurologie, sozialpsychiatrische Dienste und Ergotherapie.
</p>
<h2>Angebot</h2>
<p>
Hier gelangen Sie zu meinem Angebot:
</p>
<ul>
  <li>
    <a href="">Neuropsychologische Abklärungen</a>
  </li>
  <li>  
    <a href="">Neuropsychologisches Einzeltraining</a>
  </li>
  <li>    
    <a href="">Neuropsychologische Therapie durch</a>
  </li>
  <li>    
    <a href="">Beratung und Coaching (Physiotherapie, Psychotherapie, Neurologie, sozialpsychiatrische Dienste und Ergotherapie)</a>
  </li>
</ul>
<h2>Über mich</h2>
<p>
  Seit über sechs Jahren bin ich mit «Herz und Gehirn» Neuropsychologin. Durch meine transparente Arbeitsweise und den respektvollen Umgang mit Exploranden und Auftraggebern, gelingt es mir auf die persönlichen Bedürfnisse der Betroffenen einzugehen und gleichzeitig die Fragen der Auftraggeber nachvollziehbar, zeitnah und fundiert zu beantworten.
</p>
<h3>Kernkompetenzen</h3>
<p>
Meine klinische Grundausbildung erfolgte in der neurologischen Klinik des Universitätsspitals Zürich. Später arbeitete ich mit psychiatrischen Patienten, half beim Aufbau einer Memoryclinic mit und führe nun seit Jahren Begutachtungen durch.
</p>
<ul>
  <li>Neuropsychologische Abklärungen im Rahmen neurologischer Erkrankungen</li>
  <li>Neuropsychologische Abklärungen im Rahmen psychiatrischer Erkrankungen</li>
  <li>Neuropsychologische Diagnostik bei der Frage nach AD(HS), Autismusspektrumstörungen etc.</li>
  <li>Neuropsychologische Begutachtungen</li>
  <li>Abklärungen im Hinblick auf eine berufliche Wiedereingliederung</li>
  <li>Neuropsychologische Therapien</li>
</ul>
<h3>Fähigkeitsausweise</h3>
<ul>
  <li>Doktortitel der philosophischen Fakultät der Universität Zürich</li>
  <li>Psychologin FSP</li>
  <li>Fachpsychologin für Neuropsychologie FSP</li>
  <li>Zertifizierte neuropsychologische Gutachterin SIM</li>
</ul>

Sprachkenntnisse
     
Deutsch (Muttersprache) 
Englisch (fliessend) 
Französisch (fliessend) 
Portugiesisch (Grundkenntnisse)

Beruflicher Werdegang
seit 2016 
Neuropsychologische Tätigkeiten für diverse Auftraggeber (u. a. Versicherungsgutachten IV, SUVA, AXA, SWICA)
in eigener Praxis
April 2016 – Februar 2019
30% Tätigkeit als klinische Neuropsychologin, Clienia Privatklinik für Psychiatrie und Psychotherapie, Oetwil am See
Juni 2013 – März 2016
50% Tätigkeit als klinische Neuropsychologin,
Memory Clinic Spital Linth, Uznach
März 2012 – April 2018
Gutachterliche Tätigkeit
Zentrum für interdisziplinäre medizinische Begutachtung (ZIMB), Schwyz
2007 – 2013
50% Tätigkeit als klinische Neuropsychologin,
Clienia Privatklinik für Psychiatrie, Oetwil am See
2007 – 2016
10% Tätigkeit als klinische Neuropsychologin,
Kopfwehzentrum Klinik Hirslanden, Zürich
2002 –2007
100% Tätigkeit als Neuropsychologin, Universitätsspital Zürich
Februar – Mai 1999
Praktikum, Psychiatrische Klinik Hard, Embrach
Februar – April 1998
Praktikum, Psychiatrische Klinik Hohenegg, Meilen
Februar – April 1997
Praktikum, Psychiatrische Klinik Meisenberg, Zug
1993 – 1995
Praktikum UBS, Zürich, Diplom als Bankallrounderin


Ausbildung
2013 – 2014:  Gutachterausausbildung der Swiss Insurance Medicine (SIM) zur zertifizierten neuropsychologischen Gutachterin
März 2006 – Februar 2007: Tätigkeit als Post-Doktorandin am Universitätsspital Zürich zum Thema der kortikalen, motorischen Organisation bei Menschen mit kongenital fehlenden Extremitäten
Mai 2002 – April 2006: «International Program in Neuroscience», 
Zentrum für Neurowissenschaften Zürich
April 2002 – Februar 2006: Dissertationsarbeit zum Thema «Cortical representations of body parts in children and in individuals born with missing hands», Philosophischen Fakultät der Universität Zürich. Prädikat «insigni cum laude». Betreut durch Prof. Dr. M. Regard, Prof. Dr. F. Wilkening, PD. Dr. P. Brugger
1995 – 2001: Studium der Psychologie an der Universität Zürich
Studienschwerpunkte: Allgemeine- und Entwicklungspsychologie, Psychopathologie, Neuropsychologie
April – Oktober 1993: Kaufmännisches Seminar nach Matura, Zürich
1986 – 1992: Kantonsschule Hohe Promenade, Zürich, Matura Typus B


Publikationen
Funk, M., Wilkening, F., Brugger, P. (2005):
Motor processes in children’s kinaesthetic imagery
Developmental Science, 8 (5), 402–408
Funk, M., Shiffrar, M., Brugger, P. (2005):
Hand movement observation by individuals born without hands: Phantom limb experience 
constrains visual limb perception 
Experimental Brain Research, 164 (3), 341–346
Brugger, P., & Funk, M. (2007):
Out on a limb: neglect and confabulation in the study of aplasic phantoms 
In S. della Sala (Ed.), Tall Tales about the Mind and Brain. Separating fact from fiction, 348–368  
Oxford: Oxford University Press
Funk, M., Brugger, P. (2008):
Mental rotation of congenitally absent hands
Journal of the International Neuropsychological Society, 14 (1), 81–89
Hotz-Boendermaker, S., Funk M, Summers, P., Brugger, P., Hepp-Reymond, M.C, Curt, A., Kollias, S. S. (2008):
Preservation of motor programs in paraplegics as demonstrated by attempted and imagined foot movements
Neuroimage, 39(1), 383–394
Funk, M., Lutz, K., Hotz Boendermaker, S., Roos, M., Summers, P., Brugger, P., 
Hepp-Reymond, M.C., Kollias, S.S. (2008):
Sensorimotor tongue representation in individuals with unilateral upper limb amelia
Neuroimage, 43(1), 121–127
Cyron, D., Funk, M., Deletter, M.A., Scheufler, K. (2010):
Perserved cognition after deep brain stimulation (DBS) in the subthalamic area for Parkinson’s disease: 
a case report
Acta neurochir, 152 (12), 2097–2100
