---
layout: layouts/base.njk
title: Neuropsychologische Praxis Dr. Denise Long
---

<h1>Neuropsychologische Praxis Dr. Denise Long</h1>
<p>
  Willkommen in der neuropsychologischen Praxis von Dr. Denise Long.
</p>
<p>
  Ich führe neuropsychologische Abklärungen, neuropsychologisches Einzeltraining und -therapie durch. Ferner unterstütze ich Patienten durch mein Netzwerk an Spazialisten aus den Bereichen Physiotherapie, Psychotherapie, Neurologie, sozialpsychiatrische Dienste und Ergotherapie.
</p>
<h2>Angebot</h2>
<p>
Hier gelangen Sie zu meinem Angebot:
<ul>
  <li>
    <a href="">Neuropsychologische Abklärungen</a>
  </li>
  <li>  
    <a href="">Neuropsychologisches Einzeltraining</a>
  </li>
  <li>    
    <a href="">Neuropsychologische Therapie durch</a>
  </li>
  <li>    
    <a href="">Beratung und Coaching (Physiotherapie, Psychotherapie, Neurologie, sozialpsychiatrische Dienste und Ergotherapie)</a>
  </li>
</ul>
</p>
